@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div>
    <div class="row">

        <div class="col-sm-3 col-sm-3 col-md-3 col-sm-auto" style="background-color:dimgrey;color:white">
            <img src="~/Content/Images/download (1).jpg" style="height:150px;width:150px;border-radius: 50%; margin-top:20%;margin-left:20%" />
            <br />
            <u style=" margin-top:20%;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                <b>About Me</b>
            </u>
            <br /> <br />
            <p>Date Of Birth:Novemver 1,2000</p>
            <br />
            <p>Gender:Female</p>
            <br />
            <p>Birth Place:Gujranwala</p>
            <br />
            <u margin-top:20%;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif><b>CONTACT</b></u>
            <br />
            <br />
            <p>
                <i class="fas fa-search-location"></i>
                Sialkot Bipass
            </p>
            <br />
            <p>
                <i class="fas fa-phone-alt"></i>
                +923235779900
            </p>
            <br />
            <p>
                <i class="fa fa-address-card"></i>
                Kashaf@gmail.com
            </p>
            <br />

            <u margin-top:20%;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif><b>INTRESTS</b></u>
            <br />
            <br />
            <p>
                <i class="fas fa-gamepad"></i>Online Games
            </p>
            <br />
            <p>
                <i class="fas fa-procedures"></i>
                Problem Solving
            </p>
            <br />
            <p>
                <i class="fas fa-book"></i>
                Books
            </p>
            <br />
           
            <u margin-top:20%;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif><b>HOBBISE</b></u>
            <br />
            <br />
            <i class="fas fa-air-freshener fa-3x"></i>&nbsp; <i class="fas fa-camera fa-3x"></i>&nbsp; <i class="fas fa-desktop fa-3x"></i>
            <br />
            <br />
            <i class="fas fa-train fa-3x"></i>&nbsp; <i class="fas fa-sink fa-3x"></i>
        </div>
        <div class="col-lg-8 col-sm-8 col-md-8 col-sm-auto" style="background-color: lightslategray; color: white">
            <h4>Kashaf Muhammad Ashraf</h4>
            <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>Web Developer</b></u>
            <br />
            <br />
            <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>CAREER OBJECTIVE</b></u>
            <p>To gain confidence and fame using my potential in the field of “Web Development”, and express my innovative creative skills for self and company growth.</p>
            <div class="row">
                <div class="col-lg-4">
                    <i>
                        2016&nbsp;

                        <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>BACHELOR DEGREE</b></u>
                        <br />2021
                        University Of Sialkot:<br />
                        BS sooftware Engineering
                    </i><br />
                    <br />
                    <i>
                        2014&nbsp;

                        <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>Faculty of Science</b></u>
                        <br />2016
                        Punjab College
                    </i>
                    <p>Fsc Pre Engineering</p>
                    <br />
                    <br />
                  
                    <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>EXPERIENCE</b></u>
                    <h5>Web Developer</h5>
                    <p>
                        Here, i'm a Professional ASP.NET MVC and ASP.NET Core MVC Developer, I'm providing reliable web services from a simple static responsive website to dynamic custom website. Highly experienced in HTML5, CSS3, Bootstrap, Material UI, JavaScript, TypeScript, jQquery, AJAX, PHP, ASP.NET MVC 5, C#, Java, Angular 10+, ReactJS, NextJS
                    </p><br />
                    <h5>Web Programer</h5>
                    <p>

                        This is Kashaf. I believed you are looking for a web developer. I am Software Engineer with expertise in web development .I work in this field for more than 2 years.I am specialized in asp.net core with angular.I always satisfy my clients with my quality work.
                    </p>
                </div>
                <div class="col-lg-4">
                    <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>TECHNICAL PROFICIENCIES</b></u>

                    <p>HTML,CSS.JAVASCRIPT,BOOTSTRAP,C#,ASP .NET CORE ,RAZOR PAGES,REACT</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>EXPERTIES</b></u>
                    <br />
                    <br />
                    <p>1:CMS</p>
                    <p>2:Widget</p>
                    <p>3:Custom Theme</p>
                    <p>4:FramWork Knowledge</p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    
                    <u style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><b>SKILLS</b></u>
                    
                    <br />
                    <br />
                    <p>1:Greate Problem Solving</p>
                    <p>2:Cretical Thinkin</p>
                    <p>3:Good Leader Ship Skills</p>
                    <p>4:FramWork Knowledge</p>
                </div>
            </div>
        </div>
    </div>

</div>
